*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #7711f4;
}
input{
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: white
}
button{
  margin: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
h1{
  margin: 20px;
  color: white;
}